body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #f4f4f4;
    min-height: 100vh;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #007bff;
    padding: 20px 40px;
    color: white;
    width: 100%;
}

header .logo a { 
    font-size: 24px;
    font-weight: bold;
    text-decoration: none;
    color: white;
    margin-left: 50px;
}

nav ul { 
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
}

nav ul li {
    margin-left: 10px;
    margin-right: 50px;
}

nav ul li a {
    color: white;
    text-decoration: none;
    font-size: 18px;
    transition: color 0.3s ease;
}

nav ul li a:hover {
    color: #ff6f61;
}

.mensagem-paciente {
    background-color: #f9f9f9;
    text-align: center;
    padding: 40px 20px;
    margin-top: 40px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    width: 90%;
    max-width: 600px;
    margin-bottom: 20px;
}

.mensagem-paciente h2 {
    font-size: 32px;
    color: #333;
    margin-bottom: 20px;
}

.mensagem-paciente p {
    font-size: 18px;
    color: #555;
    margin: 15px 0;
}

.mensagem-paciente ul {
    list-style-type: none;
    padding: 0;
    font-size: 18px;
    color: #555;
}

.mensagem-paciente ul li {
    margin-bottom: 10px;
}

.mensagem-paciente button {
    padding: 14px 30px;
    background-color: #007bff;
    color: white;
    border: none;
    cursor: pointer;
    font-size: 18px;
    margin-top: 20px;
    transition: background-color 0.3s, transform 0.3s;
    border-radius: 5px;
    width: 100%;
    max-width: 300px;
    margin-left: auto;
    margin-right: auto;
}

.mensagem-paciente button:hover {
    background-color: #0056b3;
    transform: scale(1.05);
}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}
  
#notification-btn {
    position: fixed;
    bottom: 20px;
    right: 20px;
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
    background-color: #4CAF50;
    color: white;
    border: none;
    border-radius: 50%;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}
  
.notification-popup {
    display: none;
    position: fixed;
    bottom: 70px;
    right: 20px;
    padding: 10px 20px;
    background-color: #4CAF50;
    color: white;
    border-radius: 5px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}
